/* Imported Titillium Web font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #171717;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Movie Grid Container */
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: flex-start;
}

@media screen and (min-width: 1200px)and (max-width: 1600px) {
    .movie-grid {
        gap: 12rem;
    }   
}
@media screen and (min-width: 750px ) and (max-width: 1200px) {
    .movie-grid {
        gap: 105px;
    }   
}
@media screen and (min-width: 300px ) and (max-width: 600px) {
    .movie-grid {
        gap: 48px;
    }   
}
.movie-card {
    flex-grow: 1;
    flex-basis: 23%; 
    max-width: 23%;
    color: #FFFFFF;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}
.movie-card p {
    margin-top: 10px;
    font-size: 18px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 1 lines*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
}

.no-movies-found {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

